@charset "utf-8";
/* CSS Document */
	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #ad8667;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #515151;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #32251B;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #32251B;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		width:30%;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		overflow: hidden;
		list-style: none;
		color: #6c6c6c
	}
	
	ul.style1 li
	{
		overflow: hidden;
		display: block;
		padding: 2.80em 0em;
		border-top: 1px solid #D1CFCE;
	}
	
	ul.style1 li:first-child
	{
		padding-top: 0;
		border-top: none;
	}
	
	ul.style1 .image-left
	{
		margin-bottom: 0;
	}
	
	ul.style1 h3
	{
		padding: 1.2em 0em 1em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
	}
	
	ul.style1 a
	{
		text-decoration: none;
		color: #525252;
	}

	ul.style1 a:hover
	{
		text-decoration: underline;
		color: #525252;
	}

	ul.style2
	{
		margin: 0;
		padding-top: 1em;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	ul.style3
	{
		margin: 0;
		padding-top: 1em;
		list-style: square;
	}
	
	ul.style3 li
	{
		padding: 0.50em 0;
		margin-left:2em;
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
		background-color: #1eaedb;
		border-color: #1eaedb;
		border-radius: 4px;
		border: 1px solid #bbb;
		cursor: pointer;
		box-sizing: border-box;

	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.build 
	{
		margin-top:1.5em;
		width: 20em;
		font-size: 1.30em;
		text-align:center;
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		font-weight: 400;
		font-size: 2.8em;
		color: #323232;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header-wrapper
	{
	}

	#header
	{
		position: relative;
		height: 150px;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3em;
		left: 50px;
		width: 100%;
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 700;
		color: #FFF;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	nav
	{
		position: absolute;
		right: 50px;
		top: 0;
	}
	
	nav ul
	{
		display: inline-block;
	}
	
	nav li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	nav li a, nav li span
	{
		display: block;
		padding: 0em 1.5em;
		height: 150px;
		letter-spacing: 0.20em;
		line-height: 150px;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	nav li:hover a, nav li.active a, nav li.active span
	{
		background: #32251B;
		color: #FFFFFF;
	}
	
	nav .current_page_item a
	{
		background: #32251B;
		color: #FFFFFF;
	}
	


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		width:100%;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		background-color: #FFF;
		border-top: 20px solid #32251B;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content, #banner
	{
		float: left;
		width: 100%;
		padding: 50px;
		background-color: #F3F3F3;
	}
		
	.sbox0
	{
		float: left;
		width: 50%;
		margin-left:3em;
		padding-top:5em;
	}
	
/*********************************************************************************/
/* Gallery                                                                       */
/*********************************************************************************/
	#gallery
	{
		float:left;
		width:100%;
		background-color: #FFF;
	}
	
	#gallery ul.style4
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		overflow: hidden;
		list-style: none;
		color: #6c6c6c
	}
	
	ul.style4 li
	{
		display:block;
		float:left;
		border: solid 1px #E5E5E5;
		padding: 0.80em 0;
		margin:2em 0em 0em 2em;
	}
	
	ul.style4 li a img
	{
		width:350px;
	}
	
	ul.style4 li input[type='image']
	{
		width:350px
	}
	
	ul.style4 h2 
	{
		margin:2em 0em 0em 2em;
	}
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	.sidebar
	{
		float: left;
		width: 500px;
		padding: 50px;
	}

	#stwo-col
	{
		margin-top: 2em;
	}

	#stwo-col h2
	{
		display: block;
		padding-bottom: 1.5em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
	}

	#stwo-col .sbox1
	{
		float: left;
		width: 230px;
	}

	#stwo-col .sbox2
	{
		float: right;
		width: 230px;
	}

/*********************************************************************************/
/* Login Form                                                                    */
/*********************************************************************************/

	.login-box
	{
		width:400px;
		position:relative;
		left:50%;
		top:50%;
		z-index:100;
		margin-left:-200px;
		background-color:#F3F3F3;
		box-sizing:border-box;
		border-radius:10px;
		border:solid 1px #e1dedd;
		padding:20px;
	}
			
	.login-box label
	{
		display:block;
		margin-bottom:5px;
	}
	
	.login-box input[type='text'], .login-box input[type='password']
	{
		display:block;
		margin-bottom:10px;
		width:100%;
		box-sizing:border-box;
		padding:10px;
		border-radius:2px;
		border:solid 1px #efeeed;
	}
	
/*********************************************************************************/
/* Details Form                                                                  */
/*********************************************************************************/
	#dets
	{
		margin-left: 6em;
	}
	
	#dets h2 
	{
		margin-top:10em;
		margin-bottom:1em;
	}
	
	#dets form
	{
		margin-left:2em;
	}

	#dets form p
	{
		margin-left:4em;
	}
	
	#dets form label
	{
		display:inline-block;
		width: 180px;
	}

	#dets input[type='text'], #dets textarea, #dets input[type='email'], #dets select, #dets input[type='date']
	{
		margin-bottom:10px;
		box-sizing:border-box;
		padding:10px;
		border-radius:2px;
		border:solid 1px #ccc;
	}
	
	#dets input[type='text'], #dets textarea, #dets input[type='email']
	{
		width:50%;
	}
	
	#dets textarea
	{
		height: 10em;
	}
	
	#dets form label.reduced
	{
		width: 5em;
	}
	
	.lblAdj 
	{
		 top:-7.8em; 
		 position:relative;
	}
	
	.btn
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
		background-color: #1eaedb;
		border-color: #1eaedb;
		border-radius: 4px;
		border: 1px solid #bbb;
		cursor: pointer;
		box-sizing: border-box;
		margin: 0em 0em 2em 60em;
	}
	
	.more
	{
			margin: 0em 0em 2em 40em;
	}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #FFF;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* One Column                                                                    */
/*********************************************************************************/

	#onecolumn
	{
		margin-top: 4em;
	}
	
	#onecolumn .title
	{
		margin-bottom: 1em;
	}

	#onecolumn .title h2
	{
		font-size: 1.8em;
	}

/*********************************************************************************/
/* Contact Us Form                                                               */
/*********************************************************************************/
	#connect-form 
	{
		margin:2em 0em;
	}
	
	.address
	{
		margin-left:3em;
	}
	
	.connect-box
	{
		width:80%;
		margin:0 auto;
		background-color:#F3F3F3;
		box-sizing:border-box;
		border:solid 1px #e1dedd;
		padding:20px;
	}
				
	.connect-box label
	{
		display:inline-block;
		margin-bottom:5px;
	}
	
	.connect-box input[type='text'], .connect-box input[type='password'], .connect-box textarea
	{
		display:inline-block;
		margin-bottom:10px;
		margin-left:10px;
		width:48%;
		box-sizing:border-box;
		padding:10px;
		border-radius:2px;
		border:solid 1px #efeeed;
	}
	
	.connect-box textarea
	{
		width: 97.5%;
		display:block;
		height:20em;
	}
	

